@model IEnumerable<LogisticsApp.Models.PortalUser>

<h2>Назначить роль администратора</h2>

<table class="table">
    <thead>
        <tr>
            <th>Пользователь</th>
            <th>Email</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form method="post" asp-action="GiveUserAdminRole" asp-route-userId="@user.Id">
                        <button type="submit" class="btn btn-success">Назначить роль Admin</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href="@Url.Action("Index", "Home")">Вернуться на главную страницу</a>
</div>
