@model LogisticsApp.Models.GiveUserAdminRoleViewModel

<h2>Назначить роль администратора</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="userId">Выберите пользователя</label>

        @if (Model.Users.Any())
        {
            <select id="userId" class="form-control" asp-for="UserId">
                <option value="" selected disabled>Выберите пользователя</option>
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Value">@user.Text</option>
                }
            </select>
            <span asp-validation-for="UserId" class="text-danger"></span>
        }
        else
        {
            <p class="text-danger">Нет пользователей, которым можно добавить роль Администратора.</p>
        }
    </div>

    <button type="submit" class="btn btn-success">Назначить роль Admin</button>
</form>

<div>
    <a href="@Url.Action("Index", "Home")">Вернуться на главную страницу</a>
</div>
