@{
    var isAuthenticated = (bool)ViewData["IsAuthenticated"];
    var roles = (List<string>)ViewData["Roles"];
}

<h1>Главная страница</h1>

@if (!isAuthenticated)
{
    <p>Welcome</p>
}
else
{
    <p>Вы залогинены</p>

    @if (roles.Contains("Admin"))
    {
        <p>Личный кабинет Администратора</p>
    }

    @if (roles.Contains("ShopOwner"))
    {
        <p>Личный кабинет Владельца магазина</p>
    }

    @if (roles.Contains("FactoryOwner"))
    {
        <p>Личный кабинет Владельца фабрики</p>
    }

    @if (roles.Contains("Driver"))
    {
        <p>Личный кабинет Водителя</p>
    }

    <p>
        <a href="@Url.Action("AddRole", "Role")">Назначить роль</a>
    </p>
    <p>
        <a href="@Url.Action("Index", "Shop")">Магазины</a>
    </p>
    <p>
        <a href="@Url.Action("Index", "Factory")">Фабрики</a>
    </p>
    <p>
        <a href="@Url.Action("Index", "Truck")">Грузовики</a>
    </p>
}
