@model LogisticsApp.Models.ProduceProductViewModel

@{
    ViewData["Title"] = "Произвести товар";
}

<h1>Произвести товар</h1>

<form method="post">
    <div class="form-group">
        <label for="QuantityToProduce">Количество для производства</label>
        <input type="number" class="form-control" id="QuantityToProduce" name="QuantityToProduce" min="1" required />
    </div>

    <button type="submit" class="btn btn-primary">Произвести</button>
</form>

<div>
    <a href="@Url.Action("Products", "Factory", new { id = Model.FactoryId })" class="btn btn-secondary mt-3">Назад</a>
</div>
