@model LogisticsApp.Models.Product

@{
    ViewData["Title"] = "Информация о продукте: " + Model.Title;
}

<h1>Информация о продукте: @Model.Title</h1>

<div>
    <p><strong>Масса:</strong> @Model.Mass кг</p>
    <p><strong>Объем:</strong> @Model.Volume литров</p>
</div>

<div>
    <a href="@Url.Action("Products", "Truck", new { id = ViewData["TruckId"] })">Вернуться к товарам грузовика</a>
</div>
