@model LogisticsApp.Models.Product

@{
    ViewData["Title"] = "Информация о товаре: " + Model.Title;
}

<h1>Информация о товаре: @Model.Title</h1>

<div>
    <p><strong>Масса:</strong> @Model.Mass кг</p>
    <p><strong>Объем:</strong> @Model.Volume литров</p>
</div>

<a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Вернуться к списку товаров</a>
