@model LogisticsApp.Models.UpdateProductViewModel

@{
    ViewData["Title"] = "Редактировать товар";
}

<h2>Редактировать товар</h2>

<form method="post">
    <div class="form-group">
        <label for="Title">Название товара</label>
        <input type="text" class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Mass">Масса (кг)</label>
        <input type="number" class="form-control" asp-for="Mass" />
        <span asp-validation-for="Mass" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Volume">Объем (м³)</label>
        <input type="number" class="form-control" asp-for="Volume" />
        <span asp-validation-for="Volume" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>

<div>
    <a href="@Url.Action("Index", "Product")">Вернуться к списку товаров</a>
</div>
